html {
    scroll-behavior: smooth;
    font-family: Georgia, sans-serif;
}

body {
    width: 1280px;
    margin: 0 auto;
    background-color: #fff;
}

section {
    background: url("./assets/start-screen-gradient-background.jpg");
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 40px;
    padding-top: 30px;
    height: 60px;
}

.header-container {
    display: flex;
    flex-direction: column;

    h3 {
        font-weight: 400;
        font-size: 32px;
        line-height: 110%;
        letter-spacing: 0.06em;
        color: #f1cdb3;
        margin: 0px;
        margin-bottom: 10px;
    }

    h4 {
        font-weight: 400;
        font-size: 13px;
        letter-spacing: 0.1em;
        color: #fff;
        margin: 0px;
    }
}

.nav-list {
    display: flex;
    list-style: none;
    padding-inline-start: 0px;
    gap: 35px;
    font-family: Arial, sans-serif;
}

.nav-link {
    display: flex;
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
    line-height: 160%;
    color: #fafafa;
    opacity: 0.75;
    transition: 0.5s;
}

.nav-link:hover {
    transition: 0.5s;
    opacity: 1;
}

.unique-link {
    border-bottom: solid #f1cdb3;
    opacity: 1;
}

.start-container {
    /* border: 1px solid blue; */
    flex-direction: column;
    align-items: center;
    margin: 40px;
}

.text-container {
    /* border: 1px solid red; */
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        font-weight: 400;
        font-size: 44px;
        line-height: 130%;
        color: #fff;
        width: 310px;
    }

    p {
        color: #cdcdcd;
    }
}

.start-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.start-screen-button {
    color: #292929;
    background-color: #f1cdb3;
    border-radius: 100px;
    padding: 15px 45px;
    font-size: 17px;
    line-height: 130%;
    font-weight: 400;
    letter-spacing: 0.06em;
    text-decoration: none;
}

.main-container {
    /* border: 1px solid green; */
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    justify-content: center;
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 50%;
}

.text-container h1 {
    font-size: 44px;
}

.text-container p {
    font-size: 15px;
}

.img-pets-main {
    width: 500px;
}

.container-main-div {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    margin: 40px;
}

.main-div {
    /* border: 1px solid blue; */
    width: 50%;
    justify-content: center;
    display: flex;
}

.about-container {
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 50%;

    h2 {
        font-size: 35px;
        color: #545454;
        font-family: "Georgia", sans-serif;
    }

    p {
        font-size: 15px;
        color: #4c4c4c;
        font-family: Arial, Helvetica, sans-serif;
    }
}

.img-pets2-main {
    width: 300px;
    /* border: 1px solid black; */
}

.ourpets {
    background: #f6f6f6;
}

.pets-container {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.pets {
    /* border: 1px solid rgb(247, 1, 1); */
    margin: 0 70px 0 70px;
    text-align: center;
    transition: 0.5s;
}

.pets:hover {
    cursor: pointer;
    background-color: #F9B847;
    transition: 1s;
}

.img-pet {
    /* border: 1px solid rgb(1, 5, 247); */
    width: 270px;
    height: 270px;
}

.link {
    margin: 40px;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center; */

}

.text-pets-container {
    border: 1px solid rgb(42, 247, 1);
    text-align: center;
    text-orientation: sideways-right;
    /* width: 400px;  */
    white-space: pre-wrap;
    overflow-wrap: break-word;

    h2 {
        font-size: 35px;
        color: #545454;
        font-family: "Georgia", sans-serif;
        letter-spacing: 0.06em;
    }

}

.link {
    text-align: center;
}

.help {
    /* border: 1px solid rgb(42, 247, 1); */
    margin: 40px;
}

.text {
    /* border: 1px solid rgb(247, 1, 1); */
    text-align: center;
}

.list-container {
    /* border: 1px solid rgb(1, 5, 247); */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.list-item {
    list-style: none;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 30px 60px 30px 60px;
}

.img-pet-icon {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.card {
    width: 40px;
    margin-right: 15px;
}

.card-number {
    display: flex;
    background-color: #F9B847;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
}

.footer {
    background: radial-gradient(237.5% 111.8% at 0% 0%, rgb(91, 72, 58) 0%, rgb(38, 36, 37) 100%), url("./assets/start-screen-gradient-background.jpg");
    margin-top: 40px;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.text2 {}

.list-container2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
}

.list-item2 {
    list-style: none;
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: 30px 60px 30px 0px;
}

.img-contacts {
    width: 30px;
    margin-right: 15px;
}

.photo {
    width: 250px;
}