html {
    scroll-behavior: smooth;
    font-family: Georgia, sans-serif;
}

body {
    width: 1280px;
    margin: 0 auto;
    background-color: #fff;
}

section {
    background: url("./assets/start-screen-gradient-background.jpg");
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 40px;
    padding-top: 30px;
    height: 60px;
}

.header-container {
    display: flex;
    flex-direction: column;

    h3 {
        font-weight: 400;
        font-size: 32px;
        line-height: 110%;
        letter-spacing: 0.06em;
        color: #f1cdb3;
        margin: 0px;
        margin-bottom: 10px;
    }

    h4 {
        font-weight: 400;
        font-size: 13px;
        letter-spacing: 0.1em;
        color: #fff;
        margin: 0px;
    }
}

.nav-list {
    display: flex;
    list-style: none;
    padding-inline-start: 0px;
    gap: 35px;
    font-family: Arial, sans-serif;
}

.nav-link {
    display: flex;
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
    line-height: 160%;
    color: #fafafa;
    opacity: 0.75;
    transition: 0.5s;
}

.nav-link:hover {
    transition: 0.5s;
    opacity: 1;
}

.unique-link {
    border-bottom: solid #f1cdb3;
    opacity: 1;
}

.start-container {
    /* border: 1px solid blue; */
    flex-direction: column;
    align-items: center;
    margin: 40px;
}

.text-container {
    /* border: 1px solid red; */
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        font-weight: 400;
        font-size: 44px;
        line-height: 130%;
        color: #fff;
        width: 310px;
    }

    p {
        color: #cdcdcd;
    }
}

.start-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.start-screen-button {
    color: #292929;
    background-color: #f1cdb3;
    border-radius: 100px;
    padding: 15px 45px;
    font-size: 17px;
    line-height: 130%;
    font-weight: 400;
    letter-spacing: 0.06em;
    text-decoration: none;
}

.main-container {
    /* border: 1px solid green; */
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    justify-content: center;
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 50%;
}

.text-container h1 {
    font-size: 44px;
}

.text-container p {
    font-size: 15px;
}

.img-pets-main {
    width: 500px;
}

.container-main-div {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    margin: 40px;
}

.main-div {
    /* border: 1px solid blue; */
    width: 50%;
    justify-content: center;
    display: flex;
}

.about-container {
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: start;
    width: 430px;

    h2 {
        width: 370px;
        font-weight: 400;
        font-size: 35px;
        line-height: 130%;
        letter-spacing: 0.06em;
        color: #545454;
        margin: 0;
    }

    p {
        font-weight: 400;
        font-size: 15px;
        line-height: 160%;
        color: #4c4c4c;
        font-family: Arial, sans-serif;
    }
}

.img-pets2-main {
    width: 300px;
    height: 408px;
    padding-left: 50px;
    /* border: 1px solid black; */
}

.ourpets {
    background: #f6f6f6;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pets-container {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 90px;

}

.pet-card {
    /* border: 1px solid rgb(247, 1, 1); */
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 30px;

    p {
        font-weight: 400;
        font-size: 20px;
        letter-spacing: 0.06em;
        text-align: center;
        color: #545454;
    }
}

.pets:hover {
    cursor: pointer;
}

.img-pet {
    /* border: 1px solid rgb(1, 5, 247); */
    width: 270px;
    height: 270px;
}

.learn-more-button {
    text-decoration: none;
    color: #080808;
    padding: 15px 45px;
    border-radius: 100px;
    border: 2px solid #f1cdb3;
    font-size: 17px;
    line-height: 130%;
    font-weight: 400;
    letter-spacing: 0.06em;
    transition: 0.25s;
}

.learn-more-button:hover {
    background-color: #f1cdb3;
    transition: 0.5s;
}

.text-pets-container {
    /* border: 1px solid rgb(42, 247, 1); */

    h2 {
        height: 90px;
        font-weight: 400;
        font-size: 35px;
        line-height: 130%;
        letter-spacing: 0.06em;
        text-align: center;
        color: #545454;
    }

}

.link-ourpets-container {
    border: solid;
    text-align: center;
}

.list-container {
    /* border: 1px solid rgb(1, 5, 247); */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding-inline-start: 0px;
}

.list-item {
    list-style: none;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 30px 60px 30px 60px;
}

.img-pet-icon {
    width: 60px;
    margin-bottom: 10px;
}

.card-icon {
    width: 40px;
    margin-right: 15px;
}

.card-number {
    display: flex;
    background-color: #F9B847;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
}

.footer {
    background: url("./assets/start-screen-gradient-background.jpg");
}

.footer-container {
    display: flex;
    align-items: flex-end;
    gap: 160px;
    padding: 40px;
    padding-bottom: 0px;
}

.contacts-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-auto-rows: minmax(auto); */
    grid-column-gap: 160px;
    grid-row-gap: 40px;
    padding-bottom: 60px;

    h2 {
        grid-row: 1/2;
        font-weight: 400;
        font-size: 35px;
        line-height: 130%;
        letter-spacing: 0.06em;
        color: #fff;
        margin-block-start: 0px;
        margin-block-end: 0px;
    }

    .list-item2 {
        display: flex;
        align-items: center;
        gap: 20px;
        font-weight: 400;
        font-size: 20px;
        line-height: 115%;
        letter-spacing: 0.06em;
        color: #f1cdb3;
    }

    .list-container2 {
        display: grid;
        /* grid-auto-rows: minmax(50px, auto); */
        margin: 0px;
        grid-row-gap: 40px;
        list-style: none;
        padding-inline-start: 0px;
    }
}

.img-contacts {
    width: 30px;
}

.photo-container {
    display: flex;
}

.photo {
    width: 300px;
}